In [11]:

print(3, end='^')
print(4)

3^4

In [2]:
# 프로그램을 잘하고 싶다
# 인공지능을 잘하고 싶다 :
#        파이썬으로 흥미로운 프로그램을 직접 작성하는걸 권장
#  ==> 인공지능 개발자 : 고전적인 개발자(프로그램,알고리즘잘해야함)
    # 컴퓨터비전만 전문적으로
     #  (openCV, 프로세스이해, CNN망전이학습으로 진행)
     #   전이학습은 프로세스가 거의 고정이라,어렵지 않음.
     #           => 3번정도 모델 돌리면 1000%이해됨
     #   단 이미지 데이터의 이해, 이미지분포(색상등)분석, openCV함수필요

    # 요즘최신최신트렌드 (잡코리아: rag 검색해보세요, AX검색)
    # (생성망을 통한 업무효율화:  RAG, 업무이해도,
    #  인덱스개념 정리가 제일 중요)- 프로그램 생각하지 말고
    #      평상시에 문서를 보는 방법
    #  이 강의에서 교안이 막 나뉘어져 있을때
    # 어떻게 교안 관리를 해서 자료를 잘 찾게 정리했는가,
    # 이게 RAG(내문서에서 검색하고, LLM이 요약(증강) 하여서 대답)
    # 의 핵심임

{1, 2, 3}

## [1] 일급함수란_람다 함수(lambda function)
- pdf 34페이지
- 람다함수: 이름이 없는 익명함수( f조차 없는 함수: “입력 x를 받아 x+1을 반환하는 함수”를 기호로만 표현)
    - 람다함수는 파이썬에서 이름이 없는 함수(익명 함수)

- 일급함수의 개념(First-class function): 제일 좋은 대우를 받는 함수, 일등석(First Class)’처럼, 특별히 제한 없이 모든 권리를 가진 존재
    - 옛날 프로그래밍 언어(C, Fortran 등)에서는 함수는 ‘명령’처럼만 존재, 즉, “호출할 수는 있지만”, “변수에 담거나 전달할 수는 없었음"
    - 파이썬에서는 함수도 값(value)처럼 다룰 수 있기 때문에 생긴 용어임
        - 파이썬, 자바스크립트, 리스프 같은 언어는,“함수도 값처럼 다뤄질 수 있다”는 개념을 도입
    - 즉, 숫자나 문자열처럼 함수를 변수에 담거나, 다른 함수의 인자로 전달하거나, 함수의 반환값으로 사용할 수 있음
    - 일급함수의 특징
        - 변수에 저장될 수 있고,
        - 다른 함수의 인자로 전달되고,
        - 함수의 반환값이 될 수 있다면
- 예: map(), filter(), sorted(), any(), all() 등
- 람다 함수는 “짧고 간단한 일회성 연산”에는 유용하지만, “복잡한 계산·디버깅·문서화”에는 def 함수가 훨씬 낫습니다.

### ‘람다(lambda)’의 어원
- Lambda(람다): 그리스 알파벳의 11번째 문자(λ)
- 이 단어는 1930년대 수학자 알론조 처치(Alonzo Church)가 만든 “람다 계산법(Lambda Calculus)”이라는 수학적 모델에서 유래
    - 검색해보세요: '알론조 처치(Alonzo Church)는 왜 람다 라고 지칭했을까?'
- 람다 계산법(Lambda Calculus): → “함수를 수학적으로 표현하고 계산하는 아주 기초적인 체계”
- 이 계산법에서 함수를 정의할 때 ‘λ(람다)’ 기호를 사용
- 수학식으로: λx. x + 1  ==> 파이썬으로  lambda x: x + 1
- 다음과 같이 함수를 사용해야 하지만 간단하게 기술하고자함.
    - 수학처럼 한 줄로 표현할 수 있는 익명 함수(anonymous function)가 필요했고,  “이름 없는 짧은 함수”, 즉 익명 함수로 람다사용

In [ ]:
# 일반 함수
def add(x, y):
    return x + y

print(add(3,4))


# 람다 함수 (한 줄)
add_lambda = lambda x, y: x + y
print(add_lambda(2, 3))  # 결과: 5

In [12]:
import pandas as pd

# 데이터 생성
data = {
    "age": [25, 32, 29, 41, 37],
    "gender": ["M", "F", "M", "F", "F"],
    "region": ["Seoul", "Busan", "Daegu", "Incheon", "Daejeon"]
}

# DataFrame 만들기
df = pd.DataFrame(data)

print(df)

   age gender   region
0   25      M    Seoul
1   32      F    Busan
2   29      M    Daegu
3   41      F  Incheon
4   37      F  Daejeon

In [ ]:
###############################################################################
## gender에 조건문
## apply()는 파이썬 레벨 반복 (loop)
## df["gender"].apply(lambda g: …) 는 사실상 각 행마다 파이썬 함수 호출이 일어납니다.
# 즉, 내부적으로 for 루프를 도는 것과 비슷한 속도예요.
# 속도는 느립니다. (특히 100만 행 이상에서는 체감 큼
# 실제로 100만행 기준으로 ,  # map()은 0.02초,  # apply(lambda)는 0.3~0.5초 정도 걸림
###################################################################################


# 람다로 gender 값 변환
df["gender_code"] = df["gender"].apply(lambda g: 100 if g == 'M' else 200)
df

   age gender   region  gender_code
0   25      M    Seoul          100
1   32      F    Busan          200
2   29      M    Daegu          100
3   41      F  Incheon          200
4   37      F  Daejeon          200

In [ ]:
#############################
## 참고: # 딕셔너리 매핑, Map
#############################
mapping = {'M': 100, 'F': 200}
df["gender_code"] = df["gender"].map(mapping)

In [ ]:
############################
## 조건식 기반
###########################
np.where(df["gender"] == "M", 100, 200)

### [2] map/filter/sorted & 람다함수
- 람다의 존재 이유가 이 함수들과 결합하기 때문

#### [2-1] map() +lambda
- 리스트의 모든 값을 일정 규칙으로 변환

In [18]:
###########################3
## 람다없을때
###########################
# 1. 함수 정의
def multiply_two(x):
    return x * 2

# 2. map에 함수 이름만 전달
nums = [1, 2, 3, 4, 5]
result = list(map(multiply_two, nums))

print(result)

[2, 4, 6, 8, 10]

In [ ]:
#########################################
# 리스트의 모든 값을 일정 규칙으로 변환
# map() + lambda
# 리스트의 모든 값을 일정 규칙으로 변환
#########################################

nums = [1, 2, 3, 4, 5]

# 각 숫자에 2를 곱하기
result = list(map(lambda x: x * 2, nums))
print(result)

[2, 4, 6, 8, 10]

In [23]:
nums=[1,2,2,2]

xx=lambda x: x * 2, nums
xx

(<function __main__.<lambda>(x)>, 5)

In [26]:
############################3
## 단어 리스트에서 각 단어의 글자 수를 리스트로 만드세요.
## 이해를 위한 풀이 과정
#########################
text=['aaa','b']

f=lambda x: len(x)
print(f)
for x in text:
    print(f(x))

# -------------------------------------

text=['aaa','b']

result = list(map(lambda x: len(x), text))
print(result)

<function <lambda> at 0x7c1bd33ddee0>
3
1
[3, 1]

In [ ]:
###########################
## 문제
############################

import pandas as pd

data = {
    "age": [25, 32, 29, 41, 37],
    "gender": ["M", "F", "M", "F", "F"],
    "region": ["Seoul", "Busan", "Daegu", "Incheon", "Daejeon"]
}
df = pd.DataFrame(data)


# 문제1: age가 30 이상이면 "성인", 아니면 "청년"이라는 새 열(age_group)을 만들어라.
# 문제2: gender가 "M"이면 100, "F"이면 200인 gender_code 열을 만들어라.
# 문제3: "region" 열을 모두 대문자로 바꾼 region_upper 열을 만들어라.
# 문제4: "region" 이름의 글자 수를 구해 region_len 열에 저장하라.
# 문제5: age가 30 이상이고 gender가 "F"이면 "관리직", 아니면 "일반직"을 job_type 열로 만들어라.

#### [2-2] filter() + lambda
- 조건에 맞는 값만 걸러내기

In [ ]:
#################################
## 람다없을때, 짝수 판별 함수 정의
################################

def is_even(x):
    return x % 2 == 0



nums = [1, 2, 3, 4, 5, 6]
result = list(filter(is_even, nums))

print(result)

[2, 4, 6]

In [ ]:
##################################
## filter() + lambda
## 조건에 맞는 값만 걸러내기
######################################
nums = [1, 2, 3, 4, 5, 6]

# 짝수만 남기기
result = list(filter(lambda x: x % 2 == 0, nums))
print(result)

[2, 4, 6]

In [ ]:
###########################
## 문제
############################

import pandas as pd

data = {
    "age": [25, 32, 29, 41, 37],
    "gender": ["M", "F", "M", "F", "F"],
    "region": ["Seoul", "Busan", "Daegu", "Incheon", "Daejeon"]
}
df = pd.DataFrame(data)


# 문제1: age가 30 이상인 값만 걸러내어 리스트로 반환하시오.
# 문제2: gender가 "F"인 행만 필터링하여, 그 사람들의 region만 리스트로 출력하시오.
# 문제3: age가 30 이상이고 gender가 "M"인 사람만 걸러내시오. 결과는 (age, gender, region) 튜플 리스트로 출력.
# 문제4: region 이름이 'S'로 시작하는 지역만 필터링하시오.
# 문제5: region 이름의 글자 수가 6자 이상인 지역만 필터링하시오.

#### [2-3] sorted() + lambda
- 정렬 기준 함수를 직접 지정

In [ ]:
###########################
## 람다x
###########################

# 길이를 반환하는 함수 정의
def get_length(word):
    return len(word)

words = ["apple", "banana", "kiwi", "strawberry"]

# key에 함수 이름만 전달
result = sorted(words, key=get_length)
print(result)

['kiwi', 'apple', 'banana', 'strawberry']

In [ ]:
##################################
## sorted() + lambda
## 정렬 기준 함수를 직접 지정
######################################
words = ["apple", "banana", "kiwi", "strawberry"]

# 글자 길이로 정렬
result = sorted(words, key=lambda w: len(w))
print(result)

['kiwi', 'apple', 'banana', 'strawberry']

In [ ]:
###########################
## 문제
############################

import pandas as pd

data = {
    "age": [25, 32, 29, 41, 37],
    "gender": ["M", "F", "M", "F", "F"],
    "region": ["Seoul", "Busan", "Daegu", "Incheon", "Daejeon"]
}
df = pd.DataFrame(data)


# 문제1: age를 오름차순으로 정렬하여 (age, gender, region) 튜플 리스트를 출력하시오.
# 문제2: gender가 "F" → "M" 순으로 정렬하시오. (즉, 여성 먼저 나오게)
# 문제3: region의 문자 길이(len) 기준으로 정렬하시오. (짧은 지역명부터)
# 문제4: gender → age 순으로 정렬하시오. (성별이 같으면 나이 오름차순)
# 문제5: age를 내림차순으로 정렬하시오. (큰 나이부터)

#### [2-4] 데이터전처리에 많이 사용되는 패턴

In [ ]:
#######################################33
## 데이터전처리에 자주사용되는 패턴
#########################################

data = ["apple", "banana", "kiwi", "pear", "mango", "grape"]

# 글자수 5 이상만 골라 대문자로 변환하고 길이순 정렬
result = sorted(
    map(lambda x: x.upper(),
        filter(lambda x: len(x) >= 5, data)),
    key=lambda x: len(x)
)

print(result)

['APPLE', 'MANGO', 'GRAPE', 'BANANA']